<!-- <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li lass="nav-item">
                <a class="navbar-brand nav-link" href="#">
                    <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24"
                        class="d-inline-block align-text-top">
                    Bootstrap
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
        </ul>
    </div>
</nav> -->
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img id="navImg" src="../../assets/budget.png" alt="expense img" width="30" height="24"
                class="d-inline-block align-text-top">
            Expense Trackers
        </a>
    </div>
</nav>